body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p.ok {
  border-style: none;
}

p.danger {
  border-style: solid;
  border-color: yellow;
}

p.bust {
  border-style: solid;
  border-color: red;
}

p.win {
  border-style: solid;
  border-color: green;
}